<%- include("header") -%>

  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">
    <!-- <% for (let i=0; i < newListItems.length ; i++) { %> -->

    <%newListItems.forEach(function (element){%>

      <form action="/delete" method="post">

        <div class="item">
          <input name="checkbox" value="<%=element._id%>" type="checkbox" onChange="this.form.submit()">
          <p>
            <%= element.name %>
          </p>
        </div>
      </form>


      <%});%>


        <!-- <% } %> -->

        <form class="item" action="/" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
          <button type="submit" name="list">+</button>
        </form>
  </div>

  <%- include("footer") -%>